.btn {
  border-radius: 1rem;
  width: 5rem;
  box-shadow: $box-shadow-small;
  transition: all 0.3s;

  &:hover {
    border-color: $color-purple-400;
    background-color: $color-purple-400;
    color: $color-purple-100;
  }

  &__outline {
    margin-right: 2rem;
    padding: 1rem 1.5rem;
    background-color: $color-purple-200;
    color: $color-purple-500;
    border: 0.2rem solid $color-purple-500;
  }

  &__full {
    padding: 1rem 2rem;
    background-color: $color-purple-500;
    color: $color-purple-100;
    border: 0.2rem solid $color-purple-500;
  }
}
