.btn {
  border-radius: 1rem;
  width: 5rem;
  box-shadow: $box-shadow-small;
  transition: all 0.3s;
  padding: 1rem 2rem;
  text-transform: uppercase;

  &:hover {
    border-color: $color-purple-300;
    background-color: $color-purple-300;
    color: $color-purple-100;
  }

  &__outline {
    margin-left: 2rem;
    background-color: $color-purple-400;
    color: $color-purple-100;
    border: 0.2rem solid $color-purple-400;

    @media (prefers-color-scheme: light) {
      background-color: $color-purple-200;
      color: $color-purple-500;
      border: 0.2rem solid $color-purple-200;
    }
  }

  &__full {
    background-color: $color-purple-100;
    color: $color-purple-500;
    border: 0.2rem solid $color-purple-100;

    @media (prefers-color-scheme: light) {
      background-color: $color-purple-500;
      color: $color-purple-100;
      border: 0.2rem solid $color-purple-500;
    }
  }

  &__small {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
  }
}
