.footer {
  grid-row: 5/6;
  grid-column: 1/-1;
  background-color: $color-purple-400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;

  &__links {
    display: flex;
    justify-content: space-around;

    &--website {
      transition: all 0.3s;

      &:hover {
        color: $color-purple-200;

        @media (prefers-color-scheme: light) {
          color: $color-purple-400;
        }
      }

      @media only screen and (max-width: $bp-smaller) {
        align-self: center;
        padding: 1rem;
      }
    }

    &--social {
      display: flex;
      width: 10rem;
      justify-content: space-between;

      &-link {
        font-size: 1.5rem;
        transition: all 0.3s;

        &:hover {
          color: $color-purple-200;

          @media (prefers-color-scheme: light) {
            color: $color-purple-400;
          }
        }

        @media only screen and (max-width: $bp-medium) {
          font-size: 1.25rem;
        }

        @media only screen and (max-width: $bp-smaller) {
          align-self: center;
        }
      }

      @media only screen and (max-width: $bp-smaller) {
        align-self: center;
        padding: 1rem 0 1.5rem 0;
      }
    }

    @media only screen and (max-width: $bp-smaller) {
      flex-direction: column;
    }
  }

  &__copyright {
    align-self: center;
    font-size: 1rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 0.9rem;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: $color-purple-200;
  }
}
