.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__brand {
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 50%;

    &--link {
      align-self: center;
    }
  }
}
