.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  &__links {
    display: flex;
    justify-content: space-between;
    width: 50%;

    &--link {
      align-self: center;
      transition: all 0.3s;

      &:hover {
        color: $color-purple-200;

        @media (prefers-color-scheme: light) {
          color: $color-purple-400;
        }
      }
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__mobile {
    align-self: center;
    display: none;

    &--open {
    }

    &--close {
    }

    @media only screen and (max-width: $bp-small) {
      justify-self: flex-end;
    }
  }
}

.hidden {
  display: none;

  @media only screen and (min-width: 801px) {
    display: flex;
  }
}

.active {
  background-color: $color-purple-400;

  @media (prefers-color-scheme: light) {
    background-color: $color-purple-200;
  }
}
