.navigation {
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0 10vw;
  background-color: $color-purple-400;
  position: fixed;
  width: 100%;
  height: 7rem;
  z-index: 100;

  &__brand {
    align-self: center;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.25rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 50%;

    &--link {
      align-self: center;
      transition: all 0.3s;

      &:hover {
        color: $color-purple-200;

        @media (prefers-color-scheme: light) {
          color: $color-purple-400;
        }
      }

      @media only screen and (max-width: $bp-small) {
        padding: 1rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      padding-top: 1rem;
    }
  }

  &__mobile {
    align-self: center;
    font-size: 2rem;

    @media only screen and (min-width: 801px) {
      display: none;
    }

    @media only screen and (max-width: $bp-small) {
      justify-self: flex-end;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: $color-purple-200;
  }

  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
    height: max-content;
    padding: 1rem;
  }
}

.hidden {
  display: none;

  @media only screen and (min-width: 801px) {
    display: flex;
  }
}
