.about {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: $color-purple-400;
  display: grid;
  grid-template-rows: max-content 7rem 3rem min-content 18vh;
  grid-template-columns: 1fr repeat(2, 33%) 1fr;
  grid-row-gap: 3rem;
  padding-top: 10vh;
  box-shadow: $box-shadow-large;

  &__heading {
    grid-row: 1/2;
    grid-column: 3/4;

    @media only screen and (max-width: $bp-large) {
      grid-column: 2/3;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-row: 2/3;
      grid-column: 1/-1;
      text-align: center;
    }
  }

  &__text {
    &--1 {
      grid-row: 2/3;
      grid-column: 3/4;

      @media only screen and (max-width: $bp-large) {
        grid-column: 2/3;
      }

      @media only screen and (max-width: $bp-medium) {
        grid-row: 3/4;
        grid-column: 1/-1;
      }
    }

    &--2 {
      grid-row: 3/4;
      grid-column: 3/4;

      @media only screen and (max-width: $bp-large) {
        grid-column: 2/3;
      }

      @media only screen and (max-width: $bp-medium) {
        grid-row: 4/5;
        grid-column: 1/-1;
      }
    }

    @media only screen and (max-width: $bp-large) {
      padding-right: 5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 0 1rem;
    }
  }

  &__cta {
    grid-row: 4/5;
    grid-column: 3/4;
    width: max-content;
    align-self: flex-end;

    @media only screen and (max-width: $bp-large) {
      grid-column: 2/3;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-row: 5/6;
      grid-column: 1/-1;
      justify-self: center;
    }
  }

  &__img {
    grid-row: 1/5;
    grid-column: 2/3;
    width: 26rem;
    height: 26rem;
    object-fit: cover;
    border: 1rem solid $color-purple-400;
    border-radius: 50%;
    box-shadow: $box-shadow-small;

    @media (prefers-color-scheme: light) {
      border: 1rem solid $color-purple-200;
    }

    @media only screen and (max-width: $bp-large) {
      grid-column: 1/2;
      justify-self: center;
      align-self: center;
      width: 23rem;
      height: 23rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 20rem;
      height: 20rem;
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    @media only screen and (max-width: $bp-smaller) {
      width: 18rem;
      height: 18rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 15rem;
      height: 15rem;
    }
  }

  &__tech-stack {
    margin-top: 2rem;
    grid-row: 5/6;
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: $color-purple-500;
    height: 100%;
    box-shadow: $box-shadow-large;

    &--tech {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-logo {
        align-self: center;
        font-size: 3rem;
      }

      &-name {
        align-self: center;
        padding-top: 0.75rem;
      }

      @media only screen and (max-width: $bp-smaller) {
        padding: 2rem 0;
      }
    }

    @media (prefers-color-scheme: light) {
      background-color: $color-purple-100;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-row: 6/7;
    }

    @media only screen and (max-width: $bp-smaller) {
      flex-direction: column;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: $color-purple-200;
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: max-content 7rem 3rem min-content 18vh;
    grid-template-columns: repeat(2, 50%);
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 20rem max-content 5rem 2rem min-content 18vh;
    grid-template-columns: 100%;
    padding-top: 5vh;
    grid-row-gap: 1.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column: 1/-1;
  }

  @media only screen and (max-width: $bp-smaller) {
    grid-template-rows: 18rem max-content 6rem 4rem min-content max-content;
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-rows: 15rem max-content 8rem 5rem min-content max-content;
  }
}
