.about {
  grid-row: 2/3;
  grid-column: 2/3;
  background: linear-gradient(
    right bottom,
    rgba($color-purple-500, 0.35),
    rgba($color-purple-400, 0.35)
  );
  box-shadow: $box-shadow-large;
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.1rem);
  border-radius: 1rem;
  border: 1px solid rgba($color-purple-400, 0.18);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 6rem;

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--cta {
      width: max-content;

      @media only screen and (max-width: $bp-medium) {
        align-self: center;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      align-self: center;
      height: 20rem;
      padding-top: 2rem;
      text-align: center;
    }

    @media only screen and (max-width: $bp-smallest) {
      height: 26rem;
    }
  }

  &__img {
    grid-row: 1/5;
    grid-column: 2/3;
    width: 26rem;
    height: 26rem;
    object-fit: cover;
    border: 1rem solid $color-purple-400;
    border-radius: 50%;
    box-shadow: $box-shadow-small;

    @media (prefers-color-scheme: light) {
      border: 1rem solid $color-purple-200;
    }

    @media only screen and (max-width: $bp-large) {
      width: 23rem;
      height: 23rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 20rem;
      height: 20rem;
      align-self: center;
    }

    @media only screen and (max-width: $bp-smaller) {
      width: 18rem;
      height: 18rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 15rem;
      height: 15rem;
    }
  }

  @media only screen and (max-width: $bp-large) {
    padding: 4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column-reverse;
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 1rem;
  }
}
