.hero {
  grid-row: 2/3;
  background-color: $color-purple-400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow-small;
  text-align: center;

  @media (prefers-color-scheme: light) {
    color: $color-purple-200;
    background-color: $color-purple-200;
  }
}
