.hero {
  grid-row: 1/2;
  grid-column: 1/3;
  background: linear-gradient(
    right bottom,
    rgba($color-purple-500, 0.35),
    rgba($color-purple-400, 0.35)
  );
  box-shadow: $box-shadow-large;
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.1rem);
  border-radius: 0 0 1rem 0;
  border-right: 1px solid rgba($color-purple-400, 0.18);
  border-bottom: 1px solid rgba($color-purple-400, 0.18);
  display: grid;
  grid-template-rows: max-content 50% 1fr;
  grid-template-columns: 10rem 1fr 10rem;

  &__navigation {
    grid-row: 1/2;
    grid-column: 1/-1;
    padding: 3rem 3rem 0 3rem;
  }

  &__content {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: flex-end;

    &--heading {
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: $bp-larger) {
      justify-self: center;
      grid-column: 1/-1;
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      align-self: center;
    }
  }

  &__buttons {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;

    @media only screen and (max-width: $bp-larger) {
      justify-self: center;
      grid-column: 1/-1;
    }

    @media only screen and (max-width: $bp-small) {
      align-self: flex-start;
    }
  }

  @media (prefers-color-scheme: light) {
    background: linear-gradient(
      right bottom,
      rgba($color-purple-100, 0.35),
      rgba($color-purple-200, 0.35)
    );
    border-right: 1px solid rgba($color-purple-200, 0.18);
    border-bottom: 1px solid rgba($color-purple-200, 0.18);
  }

  @media only screen and (max-width: $bp-large) {
    grid-column: 1/-1;
    grid-template-columns: 100vw;
    border-radius: 0;
    border-right: none;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: max-content 60% 1fr;
    grid-column: 1/-1;
  }
}
